@import 'ngx-toastr/toastr'; /* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bar .mat-progress-bar-background {
  background-color: red; /* Hintergrundfarbe */
}

.bar .mat-progress-bar-fill::after {
  background-color: green; /* Farbe des Fortschritts */
}

